<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="oi_count_root_menu"
        name="OI Count"
        sequence="10"/>

    <menuitem
        id="option_menu"
        name="Options"
        parent="oi_count_root_menu"
        action="option_action"
       />

    <menuitem
        id="meeting_menu"
        name="Meeting"
        parent="oi_count_root_menu"
        action="meeting_action"
       />

       <menuitem
        id="meeting_option_menu"
        name="Meeting Option"
        parent="oi_count_root_menu"
        action="meeting_option_action"
       />

</odoo>

